/* Make sure output is only shown with an outline when not empty */
#bf-output {
  font-family: Monospace;
  border: 1px gray solid;
  box-shadow: 3px 3px 3px gray;
}

#bf-output:empty {
  border: none;
}

#bf-code {
  font-family: Monospace;
  box-shadow: 3px 3px 3px gray;
}

label {
  background-color: lightgray;
}

textarea {
  word-break: break-all;
}
